<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1574051411157-1a802b6801fd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);">

  <div class="container" >
    <div class="banner-form">
      <h2 class="font-weight-bold" >What would you read next? 🤷‍♀️</h2>
        <div class="searchbar d-flex my-5">
          <form action="/books" method="get" class="form-inline my-lg-0 "> 
            <input class="form-control mr-sm-2 element" placeholder="Harry Potter, Musso ..." name="query" type="search" aria-label="Search"> 
            <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button> 
          </form> 
        </div>
    </div>
  </div>
</div>

<h2 class="text-center font-weight-bold p-5">Do you love fiction ?</h2>

<div class="container mt-3">
  <div class=" d-flex justify-content-around">
    <% @books_cat1.each do |book| %>
    <div class="col-3">
      <div class="card-style grow">
        <div class="card-img-thumbnail">
          <% if book.photo.attached? %>
            <%= cl_image_tag book.photo.key, height: 250, width: 200 %>
          <% else %>
            <%= image_tag book.cover_url, height: 250, width: 200 %>
          <% end %>
        </div>
        <div class="p-2 mt-4">
          <%= link_to book_path(book) do %>
            <h1><%= book.title %></h1>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<h2 class="text-center font-weight-bold p-5">Social Science, for a deep lecture</h2>

<div class="container mt-3">
  <div class="d-flex justify-content-around">
    <% @books_cat2.each do |book| %>
    <div class="col-3">
      <div class="card-style grow">
        <div class="card-img-thumbnail">
          <% if book.photo.attached? %>
            <%= cl_image_tag book.photo.key, height: 250, width: 200 %>
          <% else %>
            <%= image_tag book.cover_url, height: 250, width: 200 %>
          <% end %>
        </div>
        <div class="p-2 mt-4">
          <%= link_to book_path(book) do %>
            <h1><%= book.title %></h1>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<h2 class="text-center font-weight-bold p-5">Some Classics...</h2>

<div class="container mt-3">
  <div class="d-flex justify-content-around">
    <% @books_cat3.each do |book| %>
    <div class="col-3">
      <div class="card-style grow">
        <div class="card-img-thumbnail">
          <% if book.photo.attached? %>
            <%= cl_image_tag book.photo.key, height: 250, width: 200 %>
          <% else %>
            <%= image_tag book.cover_url, height: 250, width: 200 %>
          <% end %>
        </div>
        <div class="p-2 mt-4">
          <%= link_to book_path(book) do %>
            <h1><%= book.title %></h1>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

