<%= simple_form_for(book) do |f| %>
  <div class="form-group my-3">
    <label for="book-search">Search book infos</label>
    <div class="input-group">
      <input type="text" class="form-control" id="book-search" placeholder="Harry potter and the sorcerer's stone">
      <div class="input-group-append">
        <button class="btn btn-outline-success my-2 my-sm-0 mr-2 float-right" id="autocomplete" type="button">Autocomplete</button>
      </div>
    </div>
  </div>
  <%= f.input :title %>
  <%= f.input :author %>
  <%= f.input :published_date, as: :date, html5: true %>
  <%= f.input :publisher %>
  <%= f.input :category %>
  <%= f.input :description, label: "Summary" %>
  <%= f.input :address,label: "Location where to get the book? 📌" %>
  <%= f.input :photo, label: :Cover, as: :file %>
  <%= f.button :submit, 'Lend book', class:"btn btn-outline-success my-2 my-sm-0 mr-2 float-right" %>
<% end %>
