<div class="container mt-3">
  <div class="row">
    <% @books.each do |book| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="flat-card d-flex flex-column card-style">
          <h1> <%= book.title %> </h1>
          <h2> <%= book.author %> </h2>
          <p> <%= book.category %> </p>
          <p> <%= book.rating %> ⭐️ </p>
          <%= link_to "Voir le livre", book_path(book), class: 'card-link' %>
        </div>
      </div>
    <% end %>
  </div>
</div>




