<div class="container mt-3">
  <div class ="d-flex justify-content-around align-items-center">
    <div class ="w-50">
      <h1><%= @book.title %></h1>
      <h2><%= @book.author %></h2>
      <p><%= @book.published_date %></p>
      <p><%= @book.description %></p>
      <div class="reviews">
        <% @book.reviews.each do |review| %>
        <p>
          <%= review.content %>
          <% if policy(review).update? %>
          <%= link_to edit_review_path(review), data: { confirm: "Update review?" } do %>    Edit <% end %>
          <% end %>
        </p>
        <% end %>
      </div>
      <%= link_to "Retour à la liste", books_path %>
    </div>
    <div class="" >
        <p><%= @book.rating %></p>
        <p><%= @book.publisher %></p>
        <p><%= @book.category %></p>
        <p><%= @book.lender %></p>
        <% if policy(@book).destroy? %>
          <%= link_to book_path(@book), method: :delete, data: { confirm: "Confirmez-vous la suppression ?" } do %>
            <i class="fa fa-trash destroy_dose"></i>
          <% end %>
        <% end %>

      <button type="button" class="m-3 btn btn-outline-dark" data-toggle="modal" data-target="#AddReview">
        Ajouter un commentaire
      </button>
    </div>
  </div>
</div>


<div class="modal fade" id="AddReview" tabindex="-1" role="dialog" aria-labelledby="reviewModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reviewModalTitle">Add a new Review to <%= @book.title %></h5>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@book, Review.new] do |f| %>
        <%= f.input :content %>
        <%= f.button :submit, class: "btn btn-outline-dark" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
