<div class="modal fade" id="<%= id %>" tabindex="-1" role="dialog" aria-labelledby="reviewModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reviewModalTitle">Add a new Review to <%= book.title %></h5>
      </div>
      <div class="modal-body">
        <%= simple_form_for [book, review] do |f| %>
        <%= f.input :content %>
        <%= f.button :submit, class: "btn btn-outline-dark" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
