<!DOCTYPE html>
<html>
  <head>
    <title>Biblio |The largest library in the world| </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="8bit.js"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon align-items-center">
        <%= link_to root_path, class: "navbar-brand align-items-center" do %>
          <i class="fas fa-bookmark">  Biblio  </i>
        <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto align-items-center">
          <li class="nav-item">
            <div>
              <%= link_to " 📕 Lend a book ", new_book_path, class:"btn btn-sm btn-outline-dark p-2 mr-2 font-weight-bold" %>
            </div>
          </li>
          <li class="nav-item mr-4">
            <%= link_to " 👌 Top Books ", books_path, class: "nav-link"%>
          </li>
          <% if policy(current_user).show? %>
          <li class="nav-item mr-4">
            <%= link_to "My Books", user_path(current_user), class: "nav-link" %>
          </li>
          <% end %>
          <li class="nav-item dropdown">
            <%= image_tag("pauline.jpg", id: "navbarDropdown", class: "avatar dropdown-toggle", data: {toggle: "dropdown"}, aria: {haspopup: "true", expanded: "false"}) %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "Sign in", new_user_session_path, class:"dropdown-item" %>
              <%= link_to "Sign out", destroy_user_session_path, method: :delete, class:"dropdown-item" %>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <%= render 'shared/flashes' %>

    <%= yield %>


  <div class="footer shadow-sm p-3 bg-white rounded">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        This footer is made with <i class="fas fa-heart"></i> by the coconut team 🥥
      </div>
    </div>


  </body>
</html>
